%header.header
  =render partial: "messages/name-plate"
  .header__groupplate
    %h2
      = @group.name
    = link_to edit_group_path(@group) do
      .header__groupplate__btn Edit
    %p member : name
.contents
  =render "messages/group-plate"
  .contents__main
    - @messages.each do |message|
      =render partial: "messages/message-plate", locals: {message: message}
    .contents__main__textbox
      .form
        =form_for [@group, @message] do |f|
          .contents__main__textbox__cover
            = f.text_field :body, class: "textbox", placeholder: "  Type a message"
            = f.label :image, class: "image" do
              =f.file_field :image, class: "button"
              %i.fa.fa-image
          .contents__main__textbox__btn
            = f.submit "Send", class: "send--button"
